
.logo {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

.mainVideo {
	width: 800px;
	height: 500px;
	padding: none;
	border-style: solid; 
}

.navbar {
	list-style-type: none;
	margin: none;
	padding: none;
	display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search{
	width: 666px;
	height: 25px;
	margin-top: 30px;
}
button {
	height: 30px;
}

.upload-button {
	height: 30px;
	margin-top: 30px;
	margin-left: 282px;
}

.icons{
	position: absolute;
	top: 30px;
	right: 130px;
	margin-top: 30px;
	margin-left: 100px;


}
.circle {
	border-radius: 50%;
	width: 35px;
	height: 35px; 
	margin-top: 15px;
	margin-left: 10px;
	/* width and height can be anything, as long as they're equal */
}

.homeSection {
	margin-left: 66px;
}

.otherVidoes {
	float: right;
	border-style: solid;
	width: 300px;
	height: auto;
	margin-right: 25px;
}
.thumbnails{
	float: left;

}
.thumbnailDescTitle {
	float: right;
	margin-top: -150px;
	margin-right: 35px;

}
.thumbnailDescViews {
	float: right;
	margin-top: -130px;
	margin-right: 75px;


}
.thumbnailDescChannel {
	float: right;
	margin-top: -110px;
	margin-right: 58px;


}

.description-font {
	font: bold 35px/27px Arial,sans-serif!important;
	color: #222;
	vertical-align: top;
	position: relative;
}

.description{
	margin-left: 66px;

}
.videoProfile {
	margin-top: -25px;
}
.videoViews {
	float: right;
	margin-right: 55px;
}



